*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
:root{
    --grey-casa: #dcdfeb;
    --green: #088178;
}
html{
    
    
    font-size: 62.5%;
    font-family: 'League Spartan', sans-serif;

}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    
    width: 100%;
    min-width: 100%;
    min-width: 320px;
    
}


h1{
    font-size: 5em;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 7rem;
    line-height: 64px;
    color: #222;
}
h3{
    font-size: 4rem;
    
    line-height: 54px;
    
}
h4{
    font-weight: 300;
    font-size: 2rem;
    
    
}
h6{
    font-weight: 700;
    font-size: 1.2rem;
    color: #222;
}




header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    min-width: 100%;
    height: 70px;
    background-color: #e3e6f3;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;


}
header nav{
    
    padding: 10px 25px;
    width: 70px;
    height: 100%;
}
header a{
    text-decoration: none;
    color: #000000;
}
header a:hover{
    color: #088178;
    border-bottom: 2px solid var(--green);
}
.nav-left-section {
    
    display: flex;
    align-items: center;
}
.nav-left-section img{
    margin-left: 20px;
}

.menu{
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.menu ul li{

    font-weight: 600;
    align-items: center;
    text-align: center;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    
}
.menu li:last-child,#shopping-id{
    list-style: none;
    text-decoration: none;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    background-image: url('./img/bag-shopping-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;

}
.mobile{
    display: none;
    
}
.mobile-menu{
    width: 35px;
    height: 35px;
    background-image: url('./img/menu-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*//////////////////////////// header content section ////////////////////*/

.header-content-about{
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:400px;
   background-image: url('./img/about/banner.png');
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
    
}
.header-content-about h4{
    color: white;
}


/*//////////////////////////// main content section ////////////////////*/


.main-content{
    padding: 15px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 20px;
}
.info-container{
    max-width: 600px;
    
}
.info-container h3{
    margin: 15px 0;
}
.info-container h4:first-child{
    margin-top: 15px;
}
.contact-info-container .contact{
    margin: 15px 0;
    display: flex;
    flex-direction: row;

}
.contact-info-container img {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}
.map-container iframe{
    margin-top: 20px;
    width: 600px;
    height: 450px;
    
}

/*//////////////////////////// contact content section ////////////////////*/

.contact-content{
    padding: 15px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
}

.form-container{
    
    display: flex;
    flex-direction: column;
    max-width: 900px;
    min-width: 300px;
    
    height: auto;
}

.form-container form{
    
    display: flex;
    flex-direction: column;
}
.form-container input{
    font-size: 2rem;
    font-family: 'League Spartan', sans-serif; 
    width: 100%;
    margin: 10px 0;
    height: 30px;
}
.form-container form input:last-child{
    width: 100px;
}
.form-container form:only-child{
    margin: 20px 0;
}




.employees{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: auto;
}
.employee {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}
.employee div:nth-child(1){
    margin-top: 20px;
}
.employee div:nth-child(2) h4{
    margin: 10px 0 ;
}
.employees img {
    margin-right: 10px;
    width: 80px;
    height: 80px;
}
































/*mobile nav section mqueries*/


@media(max-width:770px){
    .nav-right-section{
        position: relative;
        width: 130px;
        height: 100%;
        
    }
    .menu{
        display: none;
        
    }
    .mobile{
        
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .menu {
        visibility:hidden;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        width: auto;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100vh;
        width: 200px;
        background-color: var(--grey-casa);
        box-shadow: 0 40px 60px rgba(0,0,0,0.2);
        
        
        
    
    }
    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 50%;
        
    
    }
    .menu .close-button{
        margin: 10px;
        opacity: 0.4;
        background-image: url('./img/xmark-solid.svg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 20px;
        height: 30px;
        top: 3px;
        right: 155px;
    }
    /*mobile map section mqueries*/

    .map-container iframe{
    width: 300px;
    height: 350px;
    
}
}


